.wrapper{
    display: grid;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.281);
    padding: 10px;
    width: 400px;
}

.wrapper > div{
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.281);
    width: 100%;
    height: 50px;
}

.listItem{
    display: grid;
}


.searchIP{
    height: 35px;
    width: 250px;
    margin: 4px;
    margin-left: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 23px;
    padding-left: 20px;
    padding-right: 20px;
}

.searchIP:focus{
    
}

.typeSelBtn{
    height: 32px;
    margin: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(70, 70, 70);
    color: white;
    margin-left: 10px;
}

.typeSelBtn:hover{
    background-color: rgb(80, 80, 80);
    transition: .3s;
}

.typeSelBtn:focus{
    background-color: white;
    color: black;
    border-color: white;
}

.defBorder{
    border-style: solid;
    border-width: 1px;
    border-color: rgb(175, 175, 175);
    border-radius: 18px;
    border-color: rgb(70, 70, 70);
}

/* 

        MAIN LINES

*/

body{
    background-color: rgb(45, 45, 45);
}

.frame{
    border-style: solid;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15px;
    height: 900px;
}

.search{
    height: 45px;
    margin: 5px;
}

.typeSel{
    height: 40px;
    margin: 5px;
}

.result{
    height: 780px;
    margin: 5px;
    margin-top: 10px;
    color: white;
}

.CTRBRD{
    border-style: dotted;
    border-width: 1px;
    border-color: white;
}

/* 

        RESULTS

*/

/* 

        All

*/

.topRow {
    display: grid;
    grid-template-columns: 35% 65%;
}

.topResult{
    display: block;
    margin: 10px;
    height: 230px;
    padding: 10px;
    background-color: rgb(54, 54, 54);
    border-color: rgb(54, 54, 54);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    /* width: 300px; */
}

.topTitle{
    font-size: 40px;
}

.topJoker{
    /* display: none; */
    color: grey;
    padding-right: 15px;
}

.topType{
    background-color: rgb(32, 32, 32);
    border-style: solid;
    border-color: rgb(54, 54, 54);
    border-radius: 20px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.topSongRes{
    display: block;
    margin: 10px;
    height: 250px;
    /* width: 300px; */
}

/* 

        TRACK

*/

.track{
    height: 55px;
    margin: 1px;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: transparent;
}

.track:hover{
    background-color: rgb(94, 94, 94);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(94, 94, 94);
}

.trImg{
    float: left;
}

.trInfoParent{
    float: left;
}

.trName{
    display: grid;
    padding-left: 10px;
    padding-bottom: 15px;
    padding-top: 5px;
    font-weight: bold;
}

.trArtist{
    display: grid;
    padding-left: 10px;
    color: rgb(161, 161, 161);
}

.trLen{
    float: right;
    padding-top: 20px;
    padding-right: 10px;
    color: rgb(161, 161, 161);
}

/* 

        // TRACK

*/

/* 

        Album / Artist card

*/





/* 

        // Album / Artist card

*/

.topAlbumRes{
    height: 250px;
}

.topArtistRes{
    height: 250px;
}
